body{
    background-color: rgb(72, 72, 253);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
#main-div{
    background-color: black;
    width: 500px;
    height: 100px;
    align-items: center;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 10px;
}
#input{
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-left: 45px;
    border-radius: 7px;
}
#text-box button{
    width: 130px;
    height: 55px;
    margin: 50px;
    margin-top: 25px;
    border-radius: 7px;
}
#div-1{
    background-color: black;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-radius: 5px;
}
#div-1 p{
    color: white;
    margin-top: 50px;
    margin-left: 20px;
}
#div-2{
    background-color: black;
    width: 100px;
    height: 100px;
    margin-top: -115px;
    margin-left: 200px;
    border-radius: 5px;
}
#div-2 p{
    color: white;
    margin-left: 20px;
}
#div-3{
    background-color: black;
    width: 100px;
    height: 100px;
    margin-top: -115px;
    margin-left: 400px;
    border-radius: 5px;
}
#div-3 p{
    color: white;
    margin-left: 20px;
}